/* ADD YOUR STYLES HERE */
/* General */

.table { 
	background: white; 
	color: black;
	font-size: 16px;
	text-align: left; 
}

.table th {
	font-weight: bold;
	font-family:sans-serif;
	color: black; 
	padding-right: 100px; 
	position: relative;
}

.table td {
	padding-right: 100px;
	padding-bottom: 10px; 
}

.table tr {
	border-bottom-style: solid;
	border-color: grey;
	border-bottom-width: thin;
	padding: 10px; 
}

.sean {
	border-bottom-style: solid;
	border-color: grey;
	border-bottom-width: thin;
	padding-right: 100px;
	padding: 5px;
}

.raine {
	border-bottom-style: solid;
	border-color: grey;
	border-bottom-width: thin;
	padding-right: 100px;
	padding: 5px;
}
.headertoprow {
	font-weight: bold;
	border-bottom-style: solid;
	border-color: grey;
	border-bottom-width: thin;
	padding: 10px;
}

.numbercolumn {
	padding-right: 40px;
}

/*-------------------Stats--------------------- */

.stats{
	border-top-style: solid;
	border-top-color: grey;
	border-top-width: thin; 
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: thin;

}

.bignumber {
	font-weight: bold;
	font-size: 36px;
	padding-right: 30px; 
	/*padding: 20px; */
}

.words {
	color: grey;
	font-size: 10px;
}

.noborder {
	border-bottom: 0px solid black; 
}

/*-----------------Bar Chart------------------ */

.graph { 
	width: 100%;
	background-color: #6495ED; 
	border-radius: 0px 3px 3px 0px; 
	color: white;
	font-weight: bold; 
	text-align: left; 
	padding: 3px;

}
/*/*--------Light Box-----------------*/

.lightbox {
	height: 100vh;
	width: 100wh;
	line-height: 100lh; 
	background-color: #56585c; 
	display: block;

}

.hello {
	background-color: white;
	float: center;

}*/

/*------------------Media Box ---------------*/


.float{
	overflow: hidden; 

}

.float img {
	float: left;
	padding-right: 10px;
}

.cupcake{
	float:right;
	padding-left: 10px;
}









